<div role="form" class="form-horizontal">
    <div class="row">
        <div class="form-group">
            <label class="col-sm-4 control-label">Folio</label>
            <div class="col-sm-4">
                <input type="text" id="txt_Create_ContratoCoberturaPaqueteCondicionId" name="txt_Create_ContratoCoberturaPaqueteCondicionId" class="form-control input-sm" readonly="readonly" value="0">
                <span class="field-validation-valid text-danger" data-valmsg-for="Create_ContratoCoberturaPaqueteCondicionId" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">ContratoCoberturaPaqueteId</label>
            <div class="col-sm-4">
                <input type="text" id="txt_Create_ContratoCoberturaPaqueteId" name="txt_Create_ContratoCoberturaPaqueteId" class="form-control input-sm" readonly="readonly" value="0">
                <span class="field-validation-valid text-danger" data-valmsg-for="Create_ContratoCoberturaPaqueteId" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Tipo de condici&oacute;n</label>
            <div class="col-sm-6">
                <select type="text" id="ddl_Create_CoberturaCondicionTipoId" name="ddl_Create_CoberturaCondicionTipoId" class="form-control input-sm"></select>
                <span class="field-validation-valid text-danger" data-valmsg-for="Create_CoberturaCondicionTipoId" data-valmsg-replace="true"> </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Tipo de per&iacute;odo</label>
            <div class="col col-sm-6">
                <select type="text" id="ddl_Create_CoberturaPeriodoTipoId" name="ddl_Create_CoberturaPeriodoTipoId" class="form-control input-sm"></select>
                <span class="field-validation-valid text-danger" data-valmsg-for="Create_CoberturaPeriodoTipoId" data-valmsg-replace="true"> </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Tipo de cantidad</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-md-8">
                        <select type="text" id="ddl_Create_CoberturaCantidadTipoId" name="ddl_Create_CoberturaCantidadTipoId" class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="txt_Create_CoberturaCantidadTipo" name="txt_Create_CoberturaCantidadTipo" class="form-control input-sm text-right" disabled="disabled" value="0" />
                    </div>
                </div>
                @*
                <span class="field-validation-valid text-danger" data-valmsg-for="Create_CoberturaCantidadTipoId" data-valmsg-replace="true"> </span>*@
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Tipo de copago</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-md-8">
                        <select type="text" id="ddl_Create_CoberturaCopagoTipoId" name="ddl_Create_CoberturaCopagoTipoId" class="form-control input-sm"></select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="txt_Create_CoberturaCopagoTipo" name="txt_Create_CoberturaCopagoTipo" class="form-control input-sm text-right" disabled="disabled" value="0" />
                    </div>
                </div>

                @*<span class="field-validation-valid text-danger" data-valmsg-for="Create_CoberturaCopagoTipoId" data-valmsg-replace="true"> </span>*@
            </div>
        </div>
    </div>
</div>