@model PortalEmpresa.Client.Areas.Seguridad.Models.MiPerfilModel


@{
    ViewBag.Title = "RestablecerContrasena";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}


<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Restablece tu Contraseña</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("RestablecerContrasena", "Seguridad", FormMethod.Post))
                    {
                        <div role="form" id="loginForm">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Correo, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Correo, new { @class = "form-control input-sm", @placeholder = "example@gmail.com" })
                                @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Restablacer</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>