@*<div role="form" class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
           
        </div>
    </div>
</div>*@


<table id="dgDatosCtrlUserPersonaCobertura" data-height="330" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true" data-single-select="true"></table>