<div class="color-line"></div>

<div id="logo" class="light-version">
    <div class="pull-left">
        <img src="~/Assets/images/logo.jpg" alt="logo" />
    </div>

    <div class="pull-left" id="TituloSitio">
        <div class="row">@System.Configuration.ConfigurationManager.AppSettings["NombreAplicacionCorto"].ToString()</div>
    </div>
</div>