<!-- Modal error alert generico -->
<div class="modal fade hmodal-danger" id="myModalAlertError" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
                <small class="font-bold">La aplicaci&oacute;n ha fallado consulte a su administrador.</small>
            </div>
            <div class="modal-body">
                <div class="alert-container">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="pe-7s-close-circle text-danger big-icon"></i>
                        </div>
                        <div class="col-sm-10">
                            <br /><br />
                            <h1 id="txtAlertError_StatusCode">Error Inesperado</h1>
                        </div>
                    </div>
                    <p id="txtAlertError_Text"></p>
                </div>
                <br />
                <p>
                    <a class="btn btn-danger btn-xs" data-toggle="collapse" href="#collapseError" aria-expanded="false" aria-controls="collapseError">
                        Ver Detlle...
                    </a>
                </p>
                <div class="collapse" id="collapseError">
                    <div class="card card-block">
                        <strong id="txtAlertError_StatusText"></strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal error alert generico -->