<!-- Modal Progress bar Start here-->
<div class="modal fade" id="pleaseWaitDialog" name="pleaseWaitDialog" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-clock-o"></i> Procesando...
                </h4>
            </div>
            <div class="modal-body">
                <div class="progress m-t-xs full progress-striped active">
                    <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class=" progress-bar progress-bar-warning"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Progress bar ends Here -->