<!-- Modal success alert generico -->
<div class="modal fade hmodal-success" id="myModalAlertSuccess" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Mensaje</h4>
                @*<small class="font-bold">La operaci&oacute;n ha sido completada.</small>*@
            </div>
            <div class="modal-body">
                <div class="alert-container">
                    <i class="pe-7s-like2 text-success big-icon"></i>
                    <h1 id="txtAlertSuccess_Status">Acción Completada</h1>
                    <strong id="txtAlertSuccess_StatusText"></strong>
                    <p id="txtAlertSuccess_Text"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal success alert generico -->
