@{
    Layout = "~/Views/Shared/_LayoutTarifa.cshtml";
}


@section Scripts {
    @if (TempData["lblNombre"] != null)
    {
        <script type="text/javascript">
            $("#lblNombre").html('@TempData["lblNombre"]');
            $("#imgFoto").attr('src', '@TempData["imgFoto"]');
        </script>
    };

    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/Procedimiento/Procedimiento.js"></script>
}


<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><span>Cat&aacute;logos </span></li>
                    <li class="active"><span>Procedimientos </span></li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">Procedimiento</h2>
            <small>Cat&aacute;logo de Procedimientos.</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row rowBusqueda">
        <div class="col-lg-12">
            <div class="hpanel hnova">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    Opciones de B&uacute;squeda
                </div>
                <div class="panel-body">
                    <div role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estatus</label>
                            <div class="col-sm-10">
                                <div class="radio radio-inline">
                                    <input type="radio" id="rbEstatusId" name="rbEstatusId" value="1" class="i-checks" />
                                    <label>Activo</label>
                                </div>

                                <div class="radio radio-inline">
                                    <input type="radio" id="rbEstatusId" name="rbEstatusId" value="2" class="i-checks" />
                                    <label>Inactivo</label>
                                </div>

                                <div class="radio radio-inline">
                                    <input type="radio" id="rbEstatusId" name="rbEstatusId" value="-1" class="i-checks" checked="checked" />
                                    <label>Todos</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                            <div class="col-sm-10">
                                <input type="text" id="txtProcedimientoDescripcion" class="form-control input-sm" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="ProcedimientoDescripcion" data-valmsg-replace="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" onclick="Procedimiento.buscar();">Buscar</button>

                                <button class="btn btn-default btn-sm" onclick="Procedimiento.limpiar();">Limpiar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    @*<div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>*@

                    @*<button class="btn btn-primary btn-sm" onclick="Procedimiento.redirecciona('PROCEDIMIENTO_CREATE')">Agregar</button>*@
                </div>

                <table id="dgDatosProcedimiento" data-height="430" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true"></table>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="txtApuntadorProcedimiento" value="PROCEDIMIENTO_INDEX" placeholder="APUNTADOR" />