@model SACC.Client.Areas.Persona.Models.CtrlUserPersona

<div role="form" class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    @Html.LabelFor(m => m.CtrlUserPersona_Nombre, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.CtrlUserPersona_Nombre, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.CtrlUserPersona_Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary btn-sm" onclick="javascript:GridCtrlUserPersona($('#CtrlUserPersona_Nombre').val())">Buscar</button>
            </div>
        </div>
    </div>
</div>


<table id="dgDatosCtrlUserPersona" data-height="330" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true">
    <thead>
        <tr>
            <th data-field="PersonaId"                       data-sortable="true" data-align="center"                                 ><span>Folio        </span></th>
            <th data-field="CampoComplemento_NombreCompleto" data-sortable="true"                                                     ><span>Nombre       </span></th>
            <th data-field="CURP"                            data-sortable="true" data-align="center"                                 ><span>CURP         </span></th>
            <th data-field="Genero"                          data-sortable="true" data-align="center" data-formatter="generoFormatter"><span>G&eacute;nero</span></th>
            <th data-field="CampoComplemento_Edad"           data-sortable="true" data-align="center"                                 ><span>Edad         </span></th>
            <th data-field="Seleccionado"                    data-checkbox="true"                                                     ><span>             </span></th>
        </tr>
    </thead>
</table>