<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                @*<button onclick="ProcedimientoDetalle.AbreModalPersona()" class="btn btn-primary btn-sm">Agregar</button>*@
            </div>
            <table id="dgDatosVentaProcedimientoDetalle" data-height="430" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true"></table>
        </div>
    </div>
</div>