@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}


@section Scripts {
    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/MembresiaEstatus/MembresiaEstatus.js?v=20221019"></script>
}


<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Validaci&oacute;n de Acceso</h3>
                @*<small>This is the best app ever!</small>*@
            </div>

            <div class="hpanel">
                <div class="panel-body">
                    <div role="form" id="loginForm">
                        <div class="form-group">
                            <label class="control-label">Dominio</label>
                            <input type="text" id="txtDominio" name="txtDominio" class="form-control input-sm" value="TERNIUM" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Dominio" data-valmsg-replace="true"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Cuenta de Red</label>
                            <input type="text" id="txtCuentaRed" name="txtCuentaRed" class="form-control input-sm" value="CuentaDeRed@novaservicios.com.mx" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="CuentaRed" data-valmsg-replace="true"></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Contrase&ntilde;a</label>
                            <input type="text" id="txtContrasenia" name="txtContrasenia" class="form-control input-sm" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Contrasenia" data-valmsg-replace="true"></span>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            2018 Copyright NOVA
        </div>
    </div>
</div>