@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}


<div class="error-container">
    <i class="pe-7s-way text-warning big-icon"></i>

    <h1>404</h1>

    <strong>Accion denegada</strong>

    <p>
        Lo sentimos, no cuenta con permiso para realizar esta acci&oacute;n.
    </p>

    @*<a href="index.html" class="btn btn-xs btn-success">Go back to dashboard</a>*@
    @Html.ActionLink("Regresar", "Login", "Home", new { @class = "btn btn-primary btn-md" })
</div>


@*<div class="content animate-panel content-boxed">
    <div class="row">
        <div class="col-md-12 animated-panel zoomIn" style="animation-delay: 0.5s;">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="stats-title pull-left">
                        <h4>Mensaje</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="pe-7s-attention fa-4x"></i>
                    </div>
                    <div class="m-t-xl">
                        <h1 class="text-danger">Permiso no v&aacute;lido.</h1>
                        <small>
                            Lo sentimos, no cuenta con permiso para realizar esta acci&oacute;n.
                        </small>
                    </div>

                    <div class="m-t-xl">
                        @Html.ActionLink("Regresar", "Index", "Home", new { @class = "btn btn-default btn-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@