@{
    Layout = "~/Views/Shared/_LayoutTarifa.cshtml";
}


@section Scripts {
    @if (TempData["lblNombre"] != null) {
        <script type="text/javascript">
            $("#lblNombre").html('@TempData["lblNombre"]');
            $("#imgFoto").attr('src', '@TempData["imgFoto"]');
        </script>
    };


    <script type="text/javascript" src="@System.Configuration.ConfigurationManager.AppSettings["UrlPrincipal"].ToString()Scripts/Areas/ServicioSubrogadoTipo/ServicioSubrogadoTipo.js"></script>
}


<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><span>Maestro </span></li>
                    <li><span>Tipo de Servicio Subrogado </span></li>
                    <li class="active"><span>Eliminar </span></li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs">Tipo de Servicio Subrogado</h2>
            <small>Maestro de Tipo de Servicios Subrogados.</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row rowDatosGenerales">
        <div class="col-lg-12">
            <div class="hpanel hmodal-warning">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="false"> Datos Generales</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Folio</label>
                                    <div class="col-sm-10 col-lg-2">
                                        <input type="text" id="txtServicioSubrogadoTipoId" name="txtServicioSubrogadoTipoId" class="form-control input-sm", readonly="readonly" value="@ViewBag.ServicioSubrogadoTipoId" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="ServicioSubrogadoTipoId" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="txtServicioSubrogadoTipoDescripcion" class="form-control input-sm" />
                                        <span class="field-validation-valid text-danger" data-valmsg-for="ServicioSubrogadoTipoDescripcion" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group form-group-bottom">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button class="btn btn-primary btn-sm" onclick="ServicioSubrogadoTipo.baja();">Eliminar</button>

                                        <button class="btn btn-default btn-sm" onclick="ServicioSubrogadoTipo.redirecciona('SERVICIO_SUBROGADO_TIPO_INDEX')">Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="txtApuntadorServicioSubrogadoTipo" value="SERVICIO_SUBROGADO_TIPO_DELETE" placeholder="APUNTADOR" />