<div class="row">
    <div class="col-lg-12">
        <div class="hpanel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @*<div class="panel-body">
                <h4 class="m-t-none m-b-none">General questions</h4>
                <small class="text-muted">All general questions about our app.</small>
            </div>*@
            <div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q1" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    Generales
                </a>
                <div id="q1" class="panel-collapse collapse">
                    <div role="form" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Folio</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="txtVentaId" name="txtVentaId" readonly="readonly">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="txtVentaDescripcion" name="txtVentaDescripcion" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="VentaDescripcion" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Fecha</label>
                                <div class="col-sm-10 col-lg-3">
                                    <div class="input-group date">
                                        <input class="form-control input-sm" id="dtpFecha" name="dtpFecha" readonly="readonly" />
                                        <span class="input-group-addon input-sm btn-sm"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Fecha" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q2" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    Pedido
                </a>
                <div id="q2" class="panel-collapse collapse">
                    <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
            </div>
            
            <div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q3" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    Pago
                </a>
                <div id="q3" class="panel-collapse collapse">
                    <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
            </div>
            
            <div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q4" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    Ordenes
                </a>
                <div id="q4" class="panel-collapse collapse">
                    <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
            </div>
            @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q5" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    College in Virginia, looked up one of ?
                </a>
                <div id="q5" class="panel-collapse collapse">
                    <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
            </div>*@
            @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q6" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    Lorem Ipsum is simply dummy ?
                </a>
                <div id="q6" class="panel-collapse collapse">
                    <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
            </div>*@
            @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q7" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    The standard chunk of Lorem Ipsum used since ?
                </a>
                <div id="q7" class="panel-collapse collapse">
                    <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
            </div>*@
            @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q8" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    Many desktop publishing ?
                </a>
                <div id="q8" class="panel-collapse collapse">
                    <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
            </div>*@
            <div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q9" aria-expanded="true">
                    <i class="fa fa-chevron-down pull-right text-muted"></i>
                    Cicero are also reproduced in their exact original form, accompanied ?
                </a>
                <div id="q9" class="panel-collapse collapse">
                    <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
            </div>
        </div>
    </div>
</div>