<div class="row">
    <div class="col-md-12">
        <div class="hpanel">
            <div class="v-timeline vertical-container animate-panel" data-child="vertical-timeline-block" data-delay="1">
                <div class="vertical-timeline-block" style="">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-hand-o-right"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <div class="p-sm">
                            <h2>Generales</h2>
                            <hr />
                            <p>Folio:</p>
                            <p>Fecha:</p>
                            <p>Tipo de Membresia:</p>
                            <p>Contratante:</p>
                            <p>Titular:</p>
                        </div>
                    </div>
                </div>

                <div class="vertical-timeline-block" style="">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-tumblr"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <div class="p-sm">
                            <h2>Titular</h2>

                            <p>Nombre:</p>
                            <p>Cantidad Amparada</p>
                            <p>Cantidad Registrada</p>
                        </div>
                    </div>
                </div>

                <div class="vertical-timeline-block" style="">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <div class="p-sm">
                            <h2>Dependientes</h2>

                            <p>Dependiente 1</p>
                            <p>Dependiente 2</p>
                            <p>Dependiente 3</p>
                        </div>
                    </div>
                </div>

                <div class="vertical-timeline-block" style="">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-list-ol"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <div class="p-sm">
                            <h2>Historial</h2>

                            <p>eventos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>