<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
            </div>

            <div class="panel-body" style="display: block;">
                <table id="dgCtrlUserViewDatosCotizacion" data-height="430" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true"></table>
            </div>

        </div>
    </div>
</div>