<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISAI" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://termxnvadb14.ternium.techint.net/Nova/WebService/SAI/SAI.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISAI"
                contract="SAI.ISAI" name="BasicHttpBinding_ISAI" />
        </client>
    </system.serviceModel>
</configuration>