<table id="dgDatosCtrlUserContratoCobertura" data-height="280" data-classes="table table-hover table-condensed" data-striped="true" data-single-select="true"></table>

<input type="hidden" id="CtrlUserContratoCobertura_Origen" />