<div role="form" class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-sm-2 control-label">Folio</label>
                <div class="col-sm-10 col-lg-2">
                    <input type="text" id="txtEmpresaDocumentoId" name="txtEmpresaDocumentoId" class="form-control input-sm" value="0" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Tipo Documento</label>
                <div class="col-sm-10">
                    <select type="text" id="ddlEmpresaDocumentoTipoId" name="ddlEmpresaDocumentoTipoId" class="form-control input-sm"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpresaDocumentoTipoId" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Tipo Archivo</label>
                <div class="col-sm-10">
                    <select type="text" id="ddlEmpresaDocumentoArchivoTipoId" name="ddlEmpresaDocumentoArchivoTipoId" class="form-control input-sm"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpresaDocumentoArchivoTipoId" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Ruta Archivo</label>
                <div class="col-sm-10">
                    <input type="file" id="txtEmpresaDocumentoArchivo" name="txtEmpresaDocumentoArchivo" class="form-control input-sm" readonly />
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmpresaDocumentoArchivo" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>