
<div role="form" class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-sm-4 control-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Create_NombreContacto" name="txt_Create_NombreContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Create_NombreContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Apellido Paterno</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Create_PaternoContacto" name="txt_Create_PaternoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Create_PaternoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Apellido Materno</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Create_MaternoContacto" name="txt_Create_MaternoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Create_MaternoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Departamento</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Create_DepartametoContacto" name="txt_Create_DepartametoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Create_DepartametoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Tipo de Contacto</label>
                <div class="col-sm-6">
                    <select id="ddl_Create_ContactoTipoId" class="form-control input-sm"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Create_ContactoTipoId" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Tel&eacute;fono</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Create_TelefonoContacto" name="txt_Create_TelefonoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Create_TelefonoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Extenci&oacute;n</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Create_ExtensionContacto" name="txt_Create_ExtensionContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Create_ExtensionContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Correo Electronico</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Create_CorreoElectronicoContacto" name="txt_Create_CorreoElectronicoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Create_CorreoElectronicoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>