&nbsp;


@*<div role="form" class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripci&oacute;n</label>
                    <div class="col-sm-10">
                        <input type="text" id="txtCtrlUserCirugiaViewDescripcion" class="form-control input-sm" />
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary btn-sm" onclick="javascript:GridCtrlUserCirugiaView($('#PaqueteId').val(), $('#CirugiaDescripcion').val())">Buscar</button>
            </div>
        </div>
    </div>
</div>*@


<table id="dgDatosCtrlUserBusquedaEmpresaContacto" data-height="430" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true"></table>