<div role="form" class="form-horizontal">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-sm-4 control-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Edit_NombreContacto" name="txt_Edit_NombreContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Edit_NombreContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Apellido Paterno</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Edit_PaternoContacto" name="txt_Edit_PaternoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Edit_PaternoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Apellido Materno</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Edit_MaternoContacto" name="txt_Edit_MaternoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Edit_MaternoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Departamento</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Edit_DepartametoContacto" name="txt_Edit_DepartametoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Edit_DepartametoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Tipo de Contacto</label>
                <div class="col-sm-6">
                    <select id="ddl_Edit_ContactoTipoId" class="form-control input-sm"></select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Edit_ContactoTipoId" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Tel&eacute;fono</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Edit_TelefonoContacto" name="txt_Edit_TelefonoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Edit_TelefonoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Extensi&oacute;n</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Edit_ExtensionContacto" name="txt_Edit_ExtensionContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Edit_ExtensionContacto" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Correo Electronico</label>
                <div class="col-sm-6">
                    <input type="text" id="txt_Edit_CorreoElectronicoContacto" name="txt_Edit_CorreoElectronicoContacto" class="form-control input-sm" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Edit_CorreoElectronicoContacto" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>