<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="cxnSACC" connectionString="Data Source=TERMXNVAWEB01;Initial Catalog=NovaComercial;User ID=sa;Password=151169;"/>-->
    <add name="cxnVigencia" connectionString="DRIVER={Progress OpenEdge 10.1B Driver}; host=termxsvcprg08; uid=syswebinter; password=syswebinter; port=3748; db=vigencia2;"/>
  </connectionStrings>
  <appSettings>
    <add key="rutaLog" value="C:\Log"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISAI" />
        <binding name="BasicHttpBinding_ISAI1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://termxnvadb14.ternium.techint.net/Nova/WebService/SAI/SAI.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISAI"
        contract="wrSAI.ISAI" name="BasicHttpBinding_ISAI" />
      <endpoint address="http://termxnvadb14.ternium.techint.net/Nova/WebService/SAI/SAI.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISAI1"
        contract="SAI.ISAI" name="BasicHttpBinding_ISAI1" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>