<table id="dgDatosCtrlUserPaquete" data-height="280" data-classes="table table-hover table-condensed" data-striped="true" data-pagination="true">
    <thead>
        <tr>
            <th data-field="ContratoProductoId" data-visible="false" data-align="center"                     ><span>ContratoProductoId</span></th>
            <th data-field="PaqueteId"                               data-sortable="true" data-align="center"><span>Folio             </span></th>
            <th data-field="PaqueteDescripcion"                      data-sortable="true"                    ><span>Paquete           </span></th>
            <th data-field="Seleccionado"       data-checkbox="true"                                         ><span>                  </span></th>
        </tr>
    </thead>
</table>