<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVigencia" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12419/Vigencia.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVigencia" contract="ServiceReference1.IVigencia"
                name="BasicHttpBinding_IVigencia" />
        </client>
    </system.serviceModel>
</configuration>